@model IEnumerable<MovieBook.Models.Cinema>

@{
    ViewBag.Title = "Index";
}
<div class="text-black" style="position:relative">
    <div class="container">
        <div class="row">
            <div class="row my-5 align-items-center justify-content-center">
                <div class="col-10">
                    <div class="card border-0">
                        <div class="card-body text-center py-4">
                            Movies
                        </div>

                        <p class="text-center">
                            @Html.ActionLink("Add Cinema", "Create", "Cinema", htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })
                        </p>
                        <div class="card-body">
                            @foreach (var cinema in Model)
                            {
                                <div class="row align-items-center justify-content-end">
                                    <div class="col-lg-4 m-lg-4 justify-content-end">
                                        <img class="rounded-3 float-end" style="height:150px; width:150px;" src="@cinema.Logo" />
                                    </div>
                                    <div class="col text-start">
                                        <div>
                                            <h2 class="display-6 mb-5">@cinema.Name</h2>
                                        </div>

                                        <div class="row">
                                            <div class="col-8">
                                                <a href="~/Cinemas/Detail/@cinema.CinemaID" class="btn btn-primary btn">Detail</a>
                                                <a href="~/Cinemas/Edit/@cinema.CinemaID" class="btn btn-success btn">Edit</a>
                                                <a href="~/Cinemas/Delete/@cinema.CinemaID" class="btn btn-danger btn">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                </div>

                            }


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
